
<!-- some each -->
  <ul>
    <li> waaak</li>
    {{#each testsPosts}}
  <li>
  {{this}}
</li>
  {{/each}}
  {{#each goPosts}}
<li>
{{this}}
</li>
{{/each}}
{{#each stopPosts}}
<li>
{{content}}
</li>
{{/each}}
{{#each continuePosts}}
<li>
{{this}}
</li>
{{/each}}
</ul>
<form method="POST" action="add_{{type}}" novalidate>

<label for="Posts">Here The posts</label>


  <label for="Posts">
  </label>

  <textarea name="addedPost" id="size" style="width:100%;height:100px;"></textarea>
  <input type="submit" value="Add">
</form>
